index2.jade
doctype html
html
    head(lang="ru")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=0")
        link(rel='styleSheet', type='cssText', href='css/bootstrap.min.css')
        link(rel='styleSheet', type='cssText', href='css/bootstrap-theme.min.css')
        link(rel='styleSheet', type='cssText', href='css/normalize.css')
        link(rel='styleSheet', type='cssText', href='css/style.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800' rel='stylesheet' type='text/css')
        block style
        title
            | Box-fun
    body
        .bg_1
            .container
                .row
                    .col-xs-12.col-sm-4.col-md-4.navigation
                        nav
                            a(href="") Стоимость
                            a(href="") Подписка
                            a(href="") Как заказать
                            a(href="") Отзывы
                    .col-xs-12.col-sm-4.col-md-4.logo
                        img(src='img/logo.png')
                    .col-xs-12.col-sm-4.col-md-4.contact
                        span.tel 8 (495) 123-45-67
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src='js/bootstrap.min.js')

index2.html
<!DOCTYPE html>
<html>
  <head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="styleSheet" type="cssText" href="css/bootstrap.min.css">
    <link rel="styleSheet" type="cssText" href="css/bootstrap-theme.min.css">
    <link rel="styleSheet" type="cssText" href="css/normalize.css">
    <link rel="styleSheet" type="cssText" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css">
    <title>Box-fun</title>
  </head>
  <body>
    <div class="bg_1">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 navigation">
            <nav><a href="">Стоимость</a><a href="">Подписка</a><a href="">Как заказать</a><a href="">Отзывы</a></nav>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 logo"><img src="img/logo.png"></div>
          <div class="col-xs-12 col-sm-4 col-md-4 contact"><span class="tel">8 (495) 123-45-67</span></div>
        </div>
      </div>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>
